.background {
    background: linear-gradient(180deg, #2193B0 0%, #6DD5ED 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    overflow: auto;
}

.background h2{
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.background .doge-info {
    width: 303px;
    height: 65px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.background button {
    width: 111px;
    height: 29px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    background: transparent;
    color: white;
}
